{{ define "show" }}

{{ template "header" }}

<body>
<table class="table table-striped" >
<td> <h2>{{ .Id }}</h2></td>
<td> <h2>{{ .Title }}</h2></td>
<td> <h2>{{ .Anons}}</h2></td>
<td> <h2>{{ .FullText }}</h2></td>
<td><a href="/" class="btn btn-danger">Назад</a></td>
<td><a href="/edit/{{ .Id}}" class="btn btn-danger">Изменить</a></td>
<td><a href="/delete_item/{{ .Id}}" class="btn btn-danger">Удалить</a></td>
<td><a href="/write_off_item/{{ .Id}}" class="btn btn-danger">Списать</a></td>
</table>
</body>


{{ template "footer" }}

{{ end }}
